/* css rules for cominar_custom_assoc.js */

#assoc-lists-container, #assoc-selected-avatar-container, #assoc-unselected-avatar-container {
    display: none;
}

.cominar-custom-assoc {
    display: none;
}

table.assoc-two-lists {
    width: 100%;
}

table.assoc-two-lists th {
    width: 50%;
    text-align: left;
    vertical-align: top;
}

table.assoc-two-lists td {
    width: 50%;
    text-align: left;
    vertical-align: top;
}

ul.assoc-list { 
    width: 50%; 
    list-style-type: none; 
    list-style-image: none; 
}

li.assoc-target { 
    margin: 0.5em; 
}

li.assoc-target > .assoc-content:hover { 
    border: 1px solid black;  
    /* background: #FECA40; */ 
}

li.assoc-target > .assoc-content { 
    width: 30em; 
    padding: 0.3em; 
    border: 1px solid #f5f5f5; /* or white */
    border-radius: 5px; 
    cursor: pointer; 
}


